{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style-home.css' %}">
    <title>Register</title>
</head>
<body>
    <main class="center form-div form-div-register">
        <form action="register" method="POST">
            {% csrf_token%}
            
            <h1>Register</h1>
            {% for message in messages %}
            <p class="error">{{message}}</p>
            {% endfor %}
            
            <p>Username:</p>
            <input type="text" name="username">
            <p>Email address:</p>
            <input type="email" name="email">
            <p>Password:</p>
            <input type="password" name="password">
            <p>Repeat the password:</p>
            <input type="password" name="password2">
            <br>
            <input type="submit" class="button submit">
        </form>
    </main>
</body>
</html>